/* Base Styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 300;
  color: #434649;
}

form {
  margin: 0 auto;
  background-color: #ececec;
  border-radius: 8px;
}

.container {
  margin: 0 auto;
  padding: 2em 0;
  max-width: 90%;
}

.container:last-of-type {
  padding-top: 0;
}

.contact-container,
.newsletter-container {
  border-top: 2px solid #464660;
}

/* Additional Typography */
h1, h2, p {
  text-align: center;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1em 0;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e); 
  background: linear-gradient(to right, #0f3443, #34e89e); 
}

h2 {
  font-size: 1.25rem;
  margin-bottom: .5em;
}

/* Additional Form and layout styles */
.sub-heading {
  margin-bottom: 4px;
  border-bottom: 4px solid #464660;
}

.sub-heading p,
.copyright {
  margin: 0 auto;
  font-weight: 300;
  color: #8a97a0;
  line-height: 1.6;
  max-width: 95%;
}

.sub-heading p {
  font-size: .9rem;
}

fieldset {
  border: none;
}

.newsletter-inner {
  padding-left: .4em;
}

legend {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.form-row,
.form-comments {
  display: flex;
  flex-direction: column;
}

.contact-label,
.comments-label {
  margin-bottom: .8em;
}

.newsletters-label,
.comments-label {
  line-height: 1.6;
}

/* Input styles inspired by Treehouse forms course */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
  font-family: 'Merriweather', Georgia, serif;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: .8em;
  background-color: #FDFAF6;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px rgb(255, 76, 41) inset;
  transition: box-shadow .3s ease-in-out;
}

.zip-input {
  max-width: 165px;
}

textarea {
  margin-bottom: 0;
  height: 10em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: .7em;
}

::placeholder {
  font-family: 'Merriweather', Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: .9rem;
  font-weight: 300;
  color: #8a97a0;
}

textarea::placeholder {
  text-align: left;
}

/* Override Chrome autofill input styles 
   Guidance found on CSS Tricks: https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  -webkit-text-fill-color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-choice {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-comments {
  padding-top: 1.5em;
}

/* Button styles inspiration/guidance from Co-op design, https://coop-design-system.herokuapp.com */
.btn {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 700;
  background-color: #368B85;
  color: #fff;
  margin-bottom: 2em;
  padding: 1.25em;
  width: 100%;
  min-height: 3.25rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  transition-property: background-color;
}

.btn:hover,
.btn:focus {
  background-color: #1c6b6a;
  text-decoration: underline;
}

.btn:active {
  background-color: #124948;
}

.copyright {
  font-size: .9rem;
  font-style: italic;
  margin-bottom: 1em;
} 

@media (min-width: 768px) {

  .container {
    max-width: 640px;
  }

  .sub-heading {
    padding: 3.5em 0;
  }

  .sub-heading h2 {
    font-size: 1.75rem;
  }

  legend {
    margin-bottom: 1.50em;
  }

  label {
    font-weight: 400;
  }

  .form-row {
    flex-direction: row;
  }

  .form-row label {
    margin: auto 0;
    flex-basis: 25%;
    height: 50px;
  }

  .form-row input,
  .form-row select {
    height: 50px;
    flex-basis: 65%;
    flex-grow: 1;
  }

  .form-choice {
    height: 40px;
  }

}