*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 300;
  color: #434649;
}

form {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
}

.container {
  margin: 0 auto;
  padding: 2em 0;
  max-width: 90%;
}

.container:last-of-type {
  padding-top: 0;
}

.contact-container,
.newsletter-container {
  border-top: 2px solid #012d42;
}

h1, h2, p {
  text-align: center;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  background-color: #082231;
  color: #fff;
  padding: 1em 0;
}

h2 {
  font-size: 1.35rem;
  margin-bottom: .5em;
}

.sub-heading {
  margin-bottom: 4px;
  padding: 2em 0;
  border-bottom: 4px solid #012d42;
}

.sub-heading p,
.copyright {
  margin: 0 auto;
  font-weight: 300;
  color: #8a97a0;
  line-height: 1.6;
  max-width: 85%;
}

fieldset {
  border: none;
}

.newsletter-inner {
  padding-left: .4em;
}

legend {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.form-row,
.form-comments {
  display: flex;
  flex-direction: column;
}

.contact-label,
.comments-label {
  margin-bottom: .8em;
}

/* Input styles inspired by Treehouse forms course */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: .8em;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.zip-input {
  max-width: 165px;
}

textarea {
  margin-bottom: 0;
  height: 10em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: .7em;
}

::placeholder {
  font-family: 'Merriweather', Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: .9rem;
  font-weight: 300;
  color: #8a97a0;
}

.form-choice {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 20px auto; */
}

.form-comments {
  padding-top: 1.5em;
}

.btn {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 700;
  background-color: #0f8482;
  color: #fff;
  margin-bottom: 2em;
  padding: 1.5em 1.25em;
  width: 100%;
  min-height: 3.25rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  transition-property: background-color;
}

.btn:hover,
.btn:focus {
  background-color: #1c6b6a;
  text-decoration: underline;
}

.btn:active {
  background-color: #124948;
}

.copyright {
  font-size: .9rem;
  font-style: italic;
} 

@media (min-width: 768px) {

  .container {
    max-width: 775px;
  }

  .sub-heading {
    padding: 3.5em 0;
  }

  .sub-heading h2 {
    font-size: 1.75rem;
  }

  legend {
    margin-bottom: 1.50em;
  }

  label {
    font-weight: 400;
  }

  .form-row {
    flex-direction: row;
  }

  .form-row label {
    margin: auto 0;
    flex-basis: 25%;
    height: 50px;
  }

  .form-row input,
  .form-row select {
    height: 50px;
    flex-basis: 65%;
    flex-grow: 1;
  }

}